@import "tailwindcss";

html {
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.grid-areas{
  display: grid;
  /* transform: scale(0.2); */
  /* transition: transform 0.2s ease-out; */
  will-change: transform;
  gap: 4px;
  height: 100%; /* Fill parent container */
  grid-template-areas: 
    "framework voice logo typography"
    "framework color logo motion"
    "iconography imagery imagery imagery";

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.framework { grid-area: framework; }
.voice { grid-area: voice; }
.logo { grid-area: logo; }
.typography { grid-area: typography; }
.iconography { grid-area: iconography; }
.color { grid-area: color; }
.imagery { grid-area: imagery; }
.motion { grid-area: motion; }

/* Tablet layout */
@media (max-width: 1024px) and (min-width: 669px) {
  .grid-areas {
    height: 100%; /* Fill parent container */
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "framework voice logo typography"
      "framework color logo motion"
      "iconography imagery imagery imagery";
    grid-template-rows: repeat(3, 1fr);
  }
}

/* Mobile layout */
@media (max-width: 668px) {
  .grid-areas {
    height: 100%; /* Fill parent container */
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "framework voice"
      "framework color"
      "logo typography"
      "logo motion"
      "iconography imagery";
    grid-template-rows: repeat(5, 1fr);
  }}
